[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = http://github.com/gmarik/vundle
[submodule "vim/bundle/Vundle.Vim"]
	path = vim/bundle/Vundle.Vim
	url = https://github.com/VundleVim/Vundle.Vim
